<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button (click)="dismissModal()">Fermer</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card [ngClass]="{'is-out': cd.isOut, 'is-in': !cd.isOut}">
    <ion-card-header>{{ cd.title }}</ion-card-header>
    <ion-card-content>
      <p *ngFor="let line of cd.description">{{ line }}</p>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button
                full
                [disabled]="cd.isOut"
                color="danger2"
                (click)="onLendMedium()">Prêt</button>
      </ion-col>
      <ion-col>
        <button ion-button
                full
                [disabled]="!cd.isOut"
                color="secondary2"
                (click)="onLendMedium()">Retour</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
