<ion-header>
  <ion-navbar>
    <ion-title>Réglages</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()"></button>
      <ion-icon name="menu"></ion-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Modifier les réglages de l'application ici</p>
</ion-content>
