<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>Menu</ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item icon-start (click)="onNavigate(tabsPage)">
        <ion-icon name="list"></ion-icon>
        Éléments
      </button>
      <button ion-item icon-start (click)="onNavigate(settingsPage)">
        <ion-icon name="options"></ion-icon>
        Réglages
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="tabsPage" #content></ion-nav>
