<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()"></button>
      <ion-icon name="menu"></ion-icon>
    </ion-buttons>
    <ion-title>Liste des livres</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <button ion-item
            icon-start
            *ngFor="let book of bookList; let i=index"
            (click)="onLoadBook(i)">
      <ion-icon [name]="book.isOut?'arrow-round-up':'arrow-round-down'"
      [color]="book.isOut?'danger2':'secondary2'"></ion-icon>
      {{ book.title }}
    </button>
  </ion-list>
</ion-content>
