
<ion-header>
  <ion-navbar>
   <ion-buttons>
     <button ion-button (click)="dismissModal()">Fermer</button>
   </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card [ngClass]="{'is-out': book.isOut, 'is-in': !book.isOut}">
    <ion-card-header>{{ book.title }}</ion-card-header>
    <ion-card-content>
      <p *ngFor="let line of book.description">{{ line }}</p>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button
                full
                [disabled]="book.isOut"
                color="danger2"
                (click)="onLendMedium()">Prêt</button>
      </ion-col>
      <ion-col>
        <button ion-button
                full
                [disabled]="!book.isOut"
                color="secondary2"
                (click)="onLendMedium()">Retour</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
