page-lend-book {
  .is-in {

    ion-card-content, ion-card-header, ion-grid {

      background-color: #eeffee;

    }

  }

  .is-out {

    ion-card-content, ion-card-header, ion-grid {

      background-color: #ffeeee;

    }
  }
}
