<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()"></button>
      <ion-icon name="menu"></ion-icon>
    </ion-buttons>
    <ion-title>Liste des disques</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-item
          icon-start
          *ngFor="let cd of cdList; let i=index"
          (click)="onLoadCd(i)">
    <ion-icon
      [name]="cd.isOut?'arrow-round-up':'arrow-round-down'"
      [color]="cd.isOut?'danger2':'secondary2'"></ion-icon>
    {{ cd.title }}

  </button>
</ion-content>
